* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    padding: 10px;
}

.display {
    text-align: right;
    margin-bottom: 10px;
    font-size: 28px;
    border: 1px solid black;
    padding: 0 5px;
}

.keys-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.keys-row {
    display: flex;
    gap: 4px;
}

.keys-row button {
    flex: 1;
    height: 45px;
    aspect-ratio: 1 / 1;
}